.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa;
  height: 100vh;
  width: 100vw;
}

h1,
h2 {
  margin-bottom: 40px;
}

h2 {
  margin-top: 80px;
}

.imgContainer {
  width: min(500px, 80%);
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
